html,
body {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

.slide-enter {
  opacity: 0;
  transform: translateX(10px);
}

.slide-enter-active {
  transition: all 0.3s ease;
}

.slide-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.generate-column {
  flex: 1;
  align-items: stretch;
  margin-bottom: 0 !important;
  .generate-column-left {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 13.25rem - 3px);
    border-right: 1px solid #eee;
  }

  .generate-column-right {
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 13.25rem - 3px);
    .generate-button {
      width: 240px;
    }
  }
}

.about,
.help-page {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 7.5rem);
}
